{% extends "layout.html" %}

{% block title %}
    Project 2
{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='room.js') }}"></script>
{% endblock %}


{% block body %}
<!-- Body stuff goes here -->
<div class="container-fluid">
    <div class="row">
        <ul id="chat-list">
            <!-- will be filled with chat lines -->
        </ul>
    </div>


    <div class="row">
        <form id="chat">
            <input id="chat-out" autocomplete="off" autofocus placeholder="Enter message" type="text">
            <input id="chat-form-button" type="submit" value="Speak it">
        </form>
    </div>

<div id="joiner" class="container-fluid"></div>


{% endblock %}
