{% extends "layout.html" %}

{% block title %}
    Book details
{% endblock %}

{% block body %}
<h1>{{ localBookInfo.title }}</h1>

<div class="container-fluid">
    <div class="row" style="padding: 20px">
        <div class="col-sm-3"><a href="/search"><< Book Search</a></div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">Logged in as: {{ name }}<br /><a href="/logout">Log out</a></div>
    </div>

    <div class="row" style="text-align: center;padding: 20px;">
        <div class="col-sm-4">Title <br/>{{ localBookInfo.title }}</div>
        <div class="col-sm-4">Author<br />{{ localBookInfo.author }}</div>
        <div class="col-sm-2">Year<br />{{ localBookInfo.year }}</div>
        <div class="col-sm-2">ISBN<br />{{ localBookInfo.isbn }}</div>
    </div>

    <div class="row" style="padding: 20px">
        <div class="col-sm-6">
            {% if localBookInfo.average_score %}
                <strong>Local Average Rating:</strong> {{ '%0.1f'| format(localBookInfo.average_score) }} ({{ localBookInfo.review_count }} reviews)
            {% else %}
                <strong>No local reviews yet</strong>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <strong>Goodreads Average Rating:</strong> {{ goodreads.average_rating }} ({{ goodreads.ratings_count }} reviews)
        </div>
    </div>

    <div class="row">
    {% if allReviews %}
    <h5>User Reviews</h5>
        {% for review in allReviews %}
            {% if review[2] == name %}
        <div class="container-fluid" style="border:1px solid #cecece;">
            <p>Reviewer: <strong>You!</strong><br />
            {% else %}
        <div class="container-fluid">
            <p>Reviewer: {{ review[2] }}<br />
            {% endif %}
    
    Rating: {{ review[1] }}<br />
            {% if review[0] != "" %}
        Review: {{ review[0] }}</p>
            {% endif %}
    </div>
        {% endfor %}
    {% endif %}

{% if userHasReviewed == "no" %}
<div class="col-sm-8">
    <h5>Add Your review</h5>
        <form action="{{ url_for('addreview') }}" method="post">
            <input id="isbn" name="isbn" type="hidden" value="{{ isbn }}">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                <label class="form-check-label" for="inlineRadio1">1 star</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">2 stars</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                <label class="form-check-label" for="inlineRadio3">3 stars</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                <label class="form-check-label" for="inlineRadio3">4 stars</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                <label class="form-check-label" for="inlineRadio3">5 stars</label>
            </div>

            <div class="form-group">
                <label for="textreview">Enter a review</label>
                <textarea class="form-control" name="textreview" id="textreview" rows="3"></textarea>
            </div>
            <button class="btn btn-primary">Add review</button>
        </form>
    </div>
{% endif %}


</div>


{% endblock %}
