{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}
    <h1>Book Stuff</h1>
    <p>{{ session }}</p>
    <div class="row">
        <div class="col-3"></div>
        
        <div class="col-3" label="login">
            <form action="{{ url_for('login') }}" method="post">
                <input name="name" type="text" placeholder="Name">
                <input name="password" type="password" placeholder="Password">
                <button class="btn btn-primary">Log In</button>
            </form>


        </div>

        <div class="col-3" label="rego">
            <form action="{{ url_for('create') }}" method="post">
                <input name="createName" type="text" placeholder="Name">
                <input name="createPassword" type="password" placeholder="Password">
                <button class="btn btn-primary">Create account</button>
            </form>
        </div>

        <div class="col-3"></div>

        
        
        <p>{{ message }}</p>


    </div>
{% endblock %}
