{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}
    <h1>Book Stuff</h1>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-3" label="login">
            <form>
                <input name="name" type="text" placeholder="Name">
                <input name="password" type="password" placeholder="Password">
            </form>

        </div>

        <div class="col-3" label="rego">
            <p>reg here</p>
        </div>

        <div class="col-3"></div>

        
        



    </div>
{% endblock %}
